@model EditProfileDto

<div class="page-main">
    <form asp-action="Edit" method="post" class="uk-form-stacked">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="uk-margin">
            <label asp-for="FirstName" class="uk-form-label">First Name</label>
            <div class="uk-form-controls">
                <input asp-for="FirstName" class="uk-input" type="text" placeholder="Enter first name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="uk-margin">
            <label asp-for="LastName" class="uk-form-label">Last Name</label>
            <div class="uk-form-controls">
                <input asp-for="LastName" class="uk-input" type="text" placeholder="Enter last name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="uk-margin">
            <label asp-for="Bio" class="uk-form-label">Bio</label>
            <div class="uk-form-controls">
                <textarea asp-for="Bio" class="uk-textarea" rows="5" placeholder="Enter bio"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
        </div>
        <div class="uk-margin">
            <a asp-action="AddCommunityPost" class="uk-button uk-button-primary">Add your community work</a>
            <button type="submit" class="uk-button uk-button-primary">Submit</button>
        </div>
    </form>
</div>
