@model OrderConfirmedVM
@{
    ViewBag.Title = "Order Confirmation";
}
@section OrderConfirmedStyles {
    <link href="~/css/OrderConfirmedPage.css" rel="stylesheet" />
}
<main class="page-main">
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Order Confirmed</h2>
                </div>
                <div class="card-body">
                    @foreach (var gameKey in Model.GameKeys)
                    {
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <h4>@gameKey.Game.Name</h4>
                            </div>
                            <div class="col-md-6">
                                <p>Key: @gameKey.Value</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary" background-color: #F4611>View Invoice</a>
                </div>
            </div>
        </div>
            @if (Model.DroppedCard != null)
            {
                <div id="cardModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/Images/TarotCards/@Model.DroppedCard.Image" alt="Avatar" style="width:200px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h2 class="card-name">@Model.DroppedCard.Name</h2>
                                    <p class="card-description">@Model.DroppedCard.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
</main>
@section OrderConfirmedScripts {
    <script src="~/js/OrderConfirmedScripts.js"></script>
}