@model AppUser
<main class="page-main">
    <div class="uk-grid" data-uk-grid="">
        <div class="uk-width-2-3@l uk-first-column">
            <div class="widjet --wallet">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Wallet</h3>
                </div>
                <div class="widjet__body">
                    <div class="wallet-info">
                        <div class="wallet-value">@Model.Balance USD</div>
                        <div class="wallet-label">Available</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>